<%- include('../partials/header.ejs'); %> 

    <%- include('../partials/pagination.ejs', { page, limit, URL }); %> 
    
    <% if (data) { %>
    <div class="chat">
      <% data.forEach((item) => { %> <% if (item.author === authors[0].author) { %>
      <div class="chat-buble-one">
        <span>(<%= item.date %>) <%= item.author %>:</span>
        <%- include('../partials/content.ejs', { item, URL }); %> 
      </div>
      <% } else { %>
      <div class="chat-buble-two">
        <span>(<%= item.date %>) <%= item.author %>:</span>
        <%- include('../partials/content.ejs', { item, URL }); %> 
      </div>
      <% } %> <% }); %>
    </div>
    <% } %> <%- include('../partials/pagination.ejs', { page, limit, URL }); %>

<%- include('../partials/footer.ejs'); %> 
